<footer class="footer">
  <div class="footer__container">
    <div class="footer__contacts">
      <h3 class="footer__contacts-title">Контакти</h3>
      <div class="footer__contacts-subtitle">Рухаємось до перемоги разом!</div>
      <div class="footer__contacts-content">
        <div class="footer__contacts-item">
          <div class="footer__contacts-text">Телефон</div>
          <div class="footer__contacts-value"><a href="tel:+380992522222">+38 099 252-22-22</a></div>
        </div>
        <div class="footer__contacts-item">
          <div class="footer__contacts-text">Email</div>
          <div class="footer__contacts-value"><a href="mailto:partner@gmail.com">partner&#64;gmail.com</a></div>
        </div>
      </div>
    </div>
    <div class="footer__right">
      <div class="footer__social">
        <a href="#" class="footer__icon">
          <img src="assets/img/contacts/x.svg" alt="X icon" />
        </a>
        <a href="#" class="footer__icon">
          <img src="assets/img/contacts/linkedin.svg" alt="LinkedIn icon" />
        </a>
        <a href="#" class="footer__icon">
          <img src="assets/img/contacts/youtube.svg" alt="YouTube icon" />
        </a>
      </div>
      <div class="footer__payment">
        <img src="assets/img/contacts/liqpay.svg" alt="Liqpay icon" />
        <img src="assets/img/contacts/mastercard.svg" alt="Mastercard icon" />
        <img src="assets/img/contacts/visa.svg" alt="Visa icon" />
      </div>
      <div class="footer__logo">
        <img src="assets/img/header/Logo.svg" alt="logo" />
      </div>
      <div class="footer__rights">Усі права захищено</div>
    </div>
  </div>
</footer>
